.profile span {
  position: relative;
  text-align: center;
  /* width: 20%; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

/* sidebar */
.navLinks li:hover, .add-wallet:hover {
  background-color: #f5f7fa;
}
.closeModal-btn {
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
}

.closeModal-btn:hover {
  background-color: rgb(1, 145, 46);
}
.hide {
  display: none;
}